@model Trendify.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Categories" asp-action="Create" method="post" enctype="multipart/form-data">

            <Partial name="_CategoryForm">
                <br/>
                <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>

        </form>
    </div>

</div>
<br />
<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
