@page
@model Trendify.Pages.ContactEmailModel

<form method="post">


    <div class="form-group">
        <label asp-for="Contacts.Subject">Subject:</label>
        <input asp-for="Contacts.Subject" class="form-control" />
        <span asp-validation-for="Contacts.Subject" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Contacts.Description">Description:</label>
        <textarea asp-for="Contacts.Description" class="form-control"></textarea>
        <span asp-validation-for="Contacts.Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div val></div>
